---
title: Just Dabbling
subtitle: But wanting to achieve things too!
intro_article: /articles/about.html
---
{% include title.html %}
{% for a in site.articles %}
 {% if a.url == page.intro_article %}
  {{ a.excerpt }}
  <a class="btn btn-primary btn-xs" href="{{ a.url }}" role="button">Read more</a>
 {% endif %}
{% endfor %}
<hr>
<div class="row">
 <div class="panel panel-default col-md-6">
  <div class="panel-heading">
   <h3 class="panel-title">Recent posts</h3>
  </div>
  <div class="panel-body">
    {% include list.html collection=site.posts full=false %}
  </div>
 </div>
 <div class="panel panel-default col-md-6">
  <div class="panel-heading">
   <h3 class="panel-title">Recent articles</h3>
  </div>
  <div class="panel-body">
   {% include list.html collection=site.articles full=false %}
  </div>
 </div>
</div>
